<script src="~/js/CommonChart.js"></script>
    <div class="x_panel">
        <div class="x_content">
            <canvas id="dashboard_policy_violation1" width="400" height="300"></canvas>
        </div>
    </div>




