
<div class="category-tree mb30">   
    <div class="category-tree">
        <h2>Inventory</h2>
    </div>
    <ul class="subcategories">        
        <li class="89 div_none"><a data-toggle="modal" href="#" data-target="#hardware_popup" onclick='lodhardwaredetails()'>Hardware</a></li>
        <li class="90 div_none"><a data-toggle="modal" href="#" data-target="#software_popup" onclick='datasoftwarepopup()'>Software</a></li>
        <li class="91 div_none"><a data-toggle="modal" href="#" data-target="#share_popup" onclick='dataSharepopup()'>Share</a></li>
        <li class="92 div_none"><a data-toggle="modal" href="#" data-target="#user_popup" onclick='dataUserpopup()'>User</a></li>
        <li class="93 div_none"><a data-toggle="modal" href="#" data-target="#service_popup" onclick='dataServicepopup()'>Services</a></li>
        <li class="94 div_none"><a data-toggle="modal" href="#" data-target="#process_popup" onclick='dataProcesspopup()'>Processes</a></li>
        <li class="95 div_none"><a data-toggle="modal" href="#" data-target="#offline_systeminfo_popup" onclick='lodasystemdetails()'>Offline System Info</a></li>
    </ul>
    <div class="category-tree">
        <h2>Resource</h2>
    </div>
    <ul class="subcategories">
        <li class="96 div_none"><a data-toggle="modal" href="#" data-target="#system_utilization_popup" onclick='opensytemutilizationchart()'>System Utilization</a></li>
        <li class="97 div_none"><a data-toggle="modal" href="#" data-target="#system_network_popup" onclick='opensytemnetworktrafficchart()'>System Network Traffic</a></li>      
    </ul>
</div>
